<!DOCTYPE html>
<html lang="en">
<head>
   {{>headTag}}
</head>
<body>
    <div id="container">
        {{!-- <nav>
            <div id="logo">
                <img src="./logo.png" alt="">
            </div>
            <ul>
                <li class="listElem home"><a href="#banner">Home</a></li>
                <li class="listElem events"><a href="#midView">Events</a></li>
                <li class="listElem about"><a href="#about">About</a></li>
                <li class="listElem images"><a href="">Images</a></li>
                <li class="listElem sponsors"><a href="">Sposors</a></li>
            </ul>
            <div id="button">
                <button><a href="">Register Now</a></button></div>
            
        </nav> --}}

        {{>navbar}}

        <header id="banner">
            <img src="./cool-geometric-triangular-figure-neon-laser-light-great-backgrounds-wallpapers.jpg" alt="">
            <div id="cover"></div>
        </header>

        <div id="content">
            <h1>TAARUNYAM</h1>
            <h4>The Technical Fest</h4>
            <h6>Coming soon ... <span class="red">This OCTOBER</span></h6>
        
        </div>
<!-- MIDDLE PAGE -->
    <div id="midView">
        <a href="/technical">
        <div class="elems">
            <img src="./robowar.webp" alt="">
            <h2>TECHNICAL</h2>
            <h5>2023</h5>
        </div></a>
        <a href="/nonTech">
        <div class="elems">
            <img src="./khatronkKhiladi.jpeg" alt="">
            <h2>NON-TECHNICAL</h2>
            <h5>2023</h5>
        </div></a>
        <a href="/sports">
        <div class="elems">
            <img src="./cricket.png" alt="">
            <h2>SPORTS</h2>
            <h5>2023</h5>
        </div></a>
        <a href="/cultural">
        <div class="elems lastElem">
            <img src="./cultural.avif" alt="">
            <h2>CULTURAL</h2>
            <h5>2023</h5>
        </div></a>
    </div>

    <div id="aboutSec">
        <div id="about">
            <h1>ABOUT FEST</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis odio dignissimos a quos numquam dicta quasi laboriosam nemo consequatur cupiditate hic similique corporis non, rem error labore sapiente cumque odit? Expedita harum accusamus officiis quas. Officia provident inventore libero ab asperiores fugit totam laborum. Perferendis quidem sed animi impedit repellendus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique molestiae fugiat recusandae eveniet eos, perspiciatis saepe sed corporis quis ex.</p>
        </div>
        <div id="VrBoy">
              <img src="./3dillustr.png" alt="">
        </div>
    </div>


      
        
       {{>footer}}
    </div>

    {{>scripts}}
</body>
</html>