<!DOCTYPE html>
<html lang="en">
<head>
{{>headTag}}
<link rel="stylesheet" href="./css/nontech.css">
</head>
<body>
    {{>navbar}}
    <div id="technicalList">
        <div id="Nontech-banner">
            <img src="./gamwSports.webp" alt="">
            <div class="cover"></div>
        </div>
    {{!-- <div id="startList">
        <ul>
           <div class="borders">
            <li>
                <a href="#Fun"></a> 
            </li>
            </div> 

            <div class="borders"><li><a href="#EC">Electronics Communication</a></li></div>

           <div class="borders"><li><a href="#CE">Civil</a></li></div> 

           <div class="borders"><li><a href="#CE">Mechanical</a></li></div> 
        </ul>
    </div> --}}


        <div class="tech-content">
            <h1>NON-TECHNICAL EVENTS</h1>
        <div class="techList">
           
            <div class="csContent">
                <h4>	&#8544;. Roadies</h4>
                <details class=".details">
                    <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8545;. Gaming Mania </h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8546;. Tug of War </h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8547;. Web Design - Using HTML, CSS</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8548;. Web Design - Using HTML, CSS</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8549;. Web Design - Using HTML, CSS</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8550;. Web Design - Using HTML, CSS</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8551;. Web Design - Using HTML, CSS</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div> 
        </div>
       
         </div>

       
         </div>


        </div>
    {{>footer}}
   {{>scripts}}
</body>
</html>