<!DOCTYPE html>
<html lang="en">
<head>
   {{>headTag}}
   <link rel="stylesheet" href="./css/sports.css">
   <style>
    video{
        width: 100%;
        height:100%;
    }

   </style>
</head>
<body>
        <video autoplay muted src="./Blue Purple Simple Clean Start And Finish Marathon Sign Banner.mp4" alt="">
    {{>scripts}}
</body>
</html>
<