<!DOCTYPE html>
<html lang="en">
<head>
   {{>headTag}}
   <link rel="stylesheet" href="./css/sports.css">
</head>
<body>
    {{>navbar}}
<div id="sports">
      
        <div id="Sports-banner">
            <img id="sportsBanner" src="./Untitled design.png" alt="">
            <div class="cover"></div>
        </div>
  


        <div class="sports-content">
            <h1>SPORTS</h1>
        <div class="techList">
           
            <div class="csContent">
                <h4>	&#8544;. Cricket</h4>
                <details class=".details">
                    <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8545;. Kabbaddi </h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8546;. VolleyBall </h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8547;. Kho-Kho</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8548;. Web Design - Using HTML, CSS</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8549;. Web Design - Using HTML, CSS</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8550;. Web Design - Using HTML, CSS</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8551;. Web Design - Using HTML, CSS</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div> 
        </div>
       
       

       
         </div>

    {{>footer}}
</div>


    {{>scripts}}
</body>
</html>