<!DOCTYPE html>
<html lang="en">

<head>
{{>headTag}}
<link rel="stylesheet" href="./css/tech.css">
</head>
<body>
    {{>navbar}}
    <div id="technicalList">
        <div id="tech-banner">
            <img src="./2301.w026.n002.3085B.p1.3085.jpg" alt="">
            <div class="cover"></div>
        </div>
    <div id="startList">
        <ul>
           <div class="borders">
            <li>
                <a href="#CS">CS/IT/Software</a> 
            </li>
            </div> 

            <div class="borders"><li><a href="#EC">Electronics Communication</a></li></div>

           <div class="borders"><li><a href="#CE">Civil</a></li></div> 

           <div class="borders"><li><a href="#CE">Mechanical</a></li></div> 
        </ul>
    </div>


        <div class="tech-content">
            <h1>TECHNICAL EVENTS</h1>
        <div class="techList">
            <h3 id="CS">COMPUTER SCIENCE / INFORMATION TECHNOLOGY</h3>
            <div class="csContent">
                <h4>	&#8544;. Web Design - Using HTML, CSS</h4>
                <details class=".details">
                    <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8545;. Blind Fold Typing </h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8546; </h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8547;. Web Design - Using HTML, CSS</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div> 
        </div>
        <div class="techList">
            <h3 id="EC">ELECTRONICS COMMUNICATION</h3>
            <div class="csContent">
                <h4>	&#8544;. Escape Room</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8545;. Cicuithon </h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8546;. Activity Name</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8547;. Activity Name</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div> 
        </div>
        <div class="techList">
            <h3 id="CE">CIVIL / MECHANICAL</h3>
            <div class="csContent">
                <h4>	&#8544;. Activity 1</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8545;. Activity 1 </h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8546;. Activity 1</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div>
            <div class="csContent">
                <h4>	&#8547;. Activity Name</h4>
                <details class=".details">
                     <img src="./robowar.webp" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam unde esse quae minima ut aliquam laborum molestias officiis eum rerum reprehenderit facilis a, ullam aperiam corporis officia necessitatibus fuga nostrum.</p>
                <h3>Contact Student Coordinators</h3>
                <h4>name surname : 1234567890</h4>
                <h4>name surname : 1234567890</h4>
                <button>Register Now</button>
                </details>
            </div> 
        </div>
         </div>

       
         </div>


        </div>
    {{>footer}}
   {{>scripts}}
</body>
</html>